:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}
nav,.footer {
  background-color: var(--second-color);
  transition: .6s padding;
}
.bg-main{
  background-color: var(--main-color);
}
.active{
  background-color: var(--main-color);
  padding: 10px 10px;
  border-radius: 5px;
}